body {
    color: white;
    background-color: rgb(152, 38, 38);
}
h1 {
    text-align: center;
    font-size: 4em;
    display: inline;
    margin: 0 150px;
}
.box {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav {
    position: absolute;
    top: -57px;
    right: 0px;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}
nav a {
    text-transform: uppercase; 
    color: #ffffff;
    font-weight: bold; 
    font-size: 24px;
    text-decoration: none;
}
nav a:hover {
    color: rgb(16, 110, 232);
}
.asks {
    margin: 3em 15em 0 27em;
    padding: 0 30px;
    font-size: 17px;
}
.input-standard {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
    border-radius: 7px;
    border-color: black;
}
.send {
    height: 2em;
    width: 30%;
    margin: 2em 0 0 13em;
    border-radius: 7px;
    border-color: black;
    transition: 0.5s all;
    cursor: pointer;
}
.send:hover {
    background: rgb(16, 110, 232);
    transform: scale(1.2);
}
.list {
    margin: 0 4.5em;
    font-size: 1.5em;
}
.h22 {   
    font-size: 2em;
}





